<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">
            %d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${hostName} "lol" --- [%15.15t] %-40.40c{1.} : %m%n%ex
        </Property>
    </Properties>
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

        <!-- Rolling File Appender -->
        <RollingFile name="InfoFile" fileName="./serviceLogs/info.log"
                     filePattern="/info-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <Pattern>${LOG_PATTERN}</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
            <DefaultRolloverStrategy max="10"/>
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>

        </RollingFile>

        <RollingFile name="DebugFile" fileName="./serviceLogs/debug.log"
                     filePattern="/debug-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <Pattern>${LOG_PATTERN}</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
            <DefaultRolloverStrategy max="10"/>
            <ThresholdFilter level="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>

        </RollingFile>

        <RollingFile name="ErrorFile" fileName="./serviceLogs/error.log"
                     filePattern="/error-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <Pattern>${LOG_PATTERN}</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
            <DefaultRolloverStrategy max="10"/>
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>

        </RollingFile>
    </Appenders>
    <Loggers>
<!--        <Logger name="com.mysite.site1" level="debug" additivity="false">-->
<!--            <AppenderRef ref="DebugFile" />-->
<!--        </Logger>-->

<!--        <Logger name="com.mysite.site1" level="info" additivity="false">-->
<!--            <AppenderRef ref="InfoFile" />-->
<!--        </Logger>-->

<!--        <Logger name="com.mysite.site1" level="info" additivity="false">-->
<!--            <AppenderRef ref="ErrorFile" />-->
<!--        </Logger>-->

        <Root level="info">
            <AppenderRef ref="ConsoleAppender" />
            <AppenderRef ref="InfoFile"/>
            <AppenderRef ref="DebugFile"/>
            <AppenderRef ref="ErrorFile"/>

        </Root>



    </Loggers>
</Configuration>