<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
    <Properties>
        <Property name="fileDir">./serviceLogs</Property>
        <Property name="fileNamePattern">./serviceLogs/serviceLogs-%d{dd-MM-yyyy}-%i.log</Property>
        <Property name="logPattern">lolololololol %d{dd-MM-yyyy HH:mm:ss,SSS} [%t] %-5p %c - %m%n</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${logPattern}"/>
        </Console>
        <RollingFile name="MyRollingFile" fileName="${fileDir}/traceLog.log" filePattern="${fileNamePattern}">
            <PatternLayout pattern="${logPattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="20MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
            <Filters>
                <ThresholdFilter level="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="com.mysite.site1" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="MyRollingFile"/>
        </Logger>
<!--        <Root level="debug">-->
<!--            <AppenderRef ref="Console"/>-->
<!--            <AppenderRef ref="MyRollingFile"/>-->

<!--        </Root>-->
    </Loggers>
</Configuration>